/* @font-face {
    font-family: 'miniature';
    src: url(../assets/Miniature.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'avara';
    src: url('../font/avara.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpina';
    src: url('../font/alpinaT.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'alpina';
    src: url('../font/alpinaRit.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.h1{
    font-size: 42px;
    grid-column: 2/5;
    font-family: Helvetica;
    margin-top: 25px;
    height: 0px;
}

.container{
    position: fixed;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 2vw;
}

.columnTest{
    /* visibility: hidden; */
    display: grid;
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 2vw;
}

.column{
    height: 100%;
    
    opacity: 0.5;
    background-color: red;
}

.vid{
    grid-column: 2/5;
    grid-row: 4/6;
    visibility: hidden;
}

.ref{
    display: flex;
    flex-direction: column;
    grid-column: 4/8;
    grid-row: 3/8;
    font-family: helvetica;
}
.a{
    text-decoration: underline black;
}


.gras{
    font-weight: bold;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    
   
  }
