/* @font-face {
    font-family: 'miniature';
    src: url(../assets/Miniature.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'avara';
    src: url('../font/avara.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpina';
    src: url('../font/alpinaT.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'alpina';
    src: url('../font/alpinaRit.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 2vw;
}

.vid{
    
}

@media screen and (max-width: 600px) {
    
   
  }